version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: PostgresDB
    restart: unless-stopped
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  backend:
    build: ./backend
    container_name: Backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
  
  frontend:
    build: ./frontend
    container_name: Frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
    
    
