.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #0b1220;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #0b1220;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1e40af;
}
